body {
    background: #000;
    color: #fff;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 700px;
}

#lyrics {
    font-size: 22px;
    white-space: pre-wrap;
    line-height: 1.6;
  }
